.footer {
    position: fixed; /* Sabit pozisyon */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Tam genişlik */
    background-color: #ffffff; /* Arka plan rengi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşlukları */
    color: black;
    z-index: 1000;
}

.footer-container {
    color: black;
    position: fixed; /* Sabit pozisyon */
    bottom: 0; /* Sayfanın altına yapıştır */
    width: 100%; /* Tam genişlik */
    background-color: #ffad42; /* Arka plan rengi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşlukları */
    z-index: 1000;
}

.text-muted
{
color: black;
}