body {
    padding-top: 70px; /* Navbar'ı gölgelememesi için */
    margin-bottom: 60px;
    background-color: white; /* Arka plan rengi */
    color: black; /* Metin rengi */
}

.navbar {
    background-color: #ffad42 !important; /* Hexadecimal renk değeri */
    padding: 10px; /* Sağ ve sol boşluk */
    font-weight: bold;
}

/* Navbar linklerinin stilleri */
.navbar-nav .nav-link {
    color: #0a0a00; /* Yazı rengi */
    font-weight: bold;
    font-size: 20px; /* Yazı boyutunu belirle */
}

.navbar-nav .nav-link:hover {
    color: white; /* Hover rengi */
}

.welcome-message {
    color: black; /* İstediğiniz renk kodunu buraya yazın */
}  

.navbar-title {
    display: none;
}

/* Mobil cihazlar için medya sorguları */
@media (max-width: 767px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand img {
        height: 100px !important;
    }

    .navbar-title {
        position: fixed;
        display: flex;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 26px;
        margin-left: 20px;
        position:relative;
        transform: translateX(-50%);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Yazıya gölge ekleyerek daha belirgin hale getirme */
    }

    .navbar-nav .nav-link {
        font-size: 18px !important; /* Yazı boyutunu küçült */
        padding: 10px; /* Menü öğeleri arası boşluk */
    }

    .navbar-toggler {
        margin-top: 10px;
        
        margin-left: 0;
        margin-right: 5%;
        margin-bottom: 10px;
    }

    .navbar-collapse {
        text-align: center; /* Menü öğelerini ortala */
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 5px;
    }

    .navbar-brand img {
        max-width: 100px; /* Daha küçük ekranlar için logo boyutunu daha da küçült */
    }

    .navbar-nav .nav-link {
        font-size: 14px; /* Daha küçük ekranlar için yazı boyutunu küçült */
        padding: 8px;
        margin-left: 25px;
    }
}
