body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Genel stil */
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Content stilleri */
.content {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    height: 100vh;
}

/* Tablo stilleri */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.sidebar .menu ul li.cikisyap {
    position: absolute; /* Position it absolutely within the sidebar */
    bottom: 15px; /* Adjust as needed */
    width: calc(100% - 30px); /* Ensure it has full width minus padding */
    
    margin-bottom: 20px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
